.banner{ 
    width: 100%;
    height: 650px;
    background: url(./img/10654e69e24cb9873357b3a0760a6dd1.webp);
    background-size: 100%;
    background-position-x:center ;
    background-repeat: no-repeat;
}
.margin{
    margin-bottom: 0;
}
.padding{
    padding-top: 10px;
    padding-bottom: 10px;
}
.praia1{
    width: 30%;
}
.praia1 img{
    width: 100%;
}
.link-cofig a{
    font-weight: bold;
    background-color: chartreuse;
    color: white;
    padding:7px  ;
    border-radius: 3px;

}
.link-cofig a:hover{
    color:red;
    background-color: lime;

}
.esp-bottom{
    margin-bottom: 20px;

@media screen and (min-width; 480px) {
    body{
        background-color: lightgreen;
    }
    
}}